/** === Main menu === */

.main-navigation {
	display: block;
	z-index: 99999;
	
	@include media(desktop-viewport) {
		display: block !important;
	}
	
	@include media(touch) {
		background: $white;
		box-shadow: 3px 3px 11px -2px rgba(0,0,0,0.39);
		display: none;
		margin: 0 auto;
		padding: 1.375rem 0.9375rem; // 22px 15px
		position: absolute;
		top: 122px; right: 0; left: 0;
		width: 100%;
	}

	.main-menu {
		display: inline-block;
		margin: 0;
		padding: 0;
		
		@include media(touch) {
			display: block;
		}

		> li {
			color: $color__text-main;
			display: inline;
			padding: 0 9px;
			position: relative;
			
			@include media(touch) {
				display: block;
				padding: 0;
			}

			span.menu-item-toggle {
				font-size: rem(12px);
				cursor: pointer;
		
			}
			
			span.menu-item-end {
				font-size: rem(9px);
			}
			
			span.menu-item-toggle, span.menu-item-end {
				color: $color__text-light;
				display: block;
				font-size: rem(14px);
				position: absolute;
				top: 0; left: rem(1px);
				margin-top: rem(7px);
				
				@include media(touch) {
					font-size: rem(18px);
					padding: rem(5px);
				}
			}
	
			> span.menu-item-toggle, > span.menu-item-end {
				display: none;
	
				@include media(touch) {
					display: block;
				}
			}

			&.menu-item-has-children {
				position: relative;

				@include media(touch) {
					display: block;
				}

				@include media(tablet-landscape) {
					display: block;
				}

				> a:after {
					color: inherit;
					content: '\f107';
					font-family: $font__icon;
					font-size: rem(16px);
					font-weight: 600;
					padding: rem(4px 0 0 10px);

					@include media(touch) {
						content: none;
						display: none;
					}
				}
				
				&:hover > a:after, &:focus > a:after {
					content: '\f106';
				}

				&:hover > .sub-menu, a:focus + .sub-menu {
					@include media(desktop-viewport) {
						display: block;
						top: 100%; left: -10px;
						opacity: 1;
					}
				
					li {
						&:nth-child(3):after {
							opacity: 1;
						}
						
						> a {
							opacity: 1;
						}
					}
				}
				
				&:focus-within > .sub-menu {
					@include media(desktop-viewport) {
						display: block;
						right: auto;
						opacity: 1;
					}
					
					li {
						&:nth-child(3):after {
							opacity: 1;
						}
						
						> a {
							opacity: 1;
						}
					}
				}
			}

			> a {
				color: $color__text-main;
				font-weight: 700;
				
				@include media(touch) {
					border-bottom: $color__border 1px solid;
					display: block;
					padding: rem(16px 0 16px 34px);

					&:first-child {
						border-top: $color__border 1px solid;
					}
					
				}

				&:hover {
					color: $color__link-hover;
				}
				
			}

			&:last-child > a,
			&:last-child.menu-item-has-children .submenu-expand {
				margin-right: 0;
			}

			&.current-menu-item {
				> a {
					color: $highlight;
				}
			}
		}
	}

	li.shop > .sub-menu.level-0 { 
		@include media(desktop) {
			width: 60vw;

			&:before {
				background: $white;
				-webkit-box-shadow: 0px 2px 2px 0px rgba(17,17,17,0.3); 
				box-shadow: 0px 2px 2px 0px rgba(17,17,17,0.3);
				color: $color__text-main;
				content: 'Shop Categories';
				display: block;
				font-size: rem(22px);
				padding: rem(20px 10px 0);
			}

			> ul {
				-moz-column-count: 3;
				-moz-column-gap: 16px;
				-webkit-column-count: 3;
				-webkit-column-gap: 16px;
				column-count: 3;
				column-gap: 16px;
			}
		}
	}

	.sub-menu {

		@include media(desktop) {
			background-color: $color__link;
			color: $color__background-body;
			list-style: none;
			padding-left: 0;
			position: absolute;
			opacity: 0;
			right: -9999px;
			z-index: 99999;
		}

		@include media(touch) {
			display: none;
			padding: rem(20px 5px);
			position: static !important;		
		}

		@include media(tablet) {
			width: auto;
			min-width: -moz-max-content;
			min-width: -webkit-max-content;
			min-width: max-content;
		}
	
		@include media(tablet-landscape) {
			display: none;			
		}

		> ul {
			padding: 0;
		}

		> li {
			display: block;
			float: none;
			position: relative;

			// Next level
			&.menu-item-has-children {

				.submenu-expand {
					display: inline-block;
					margin-right: 0;
					position: absolute;
					right: 0;
					bottom: 0;
					color: white;
					line-height: 1;

					svg {
						top: 0;
					}
				}

				@include media(tablet) {

					.menu-item-has-children > a {

						&:after {
							content: "\203a";
						}
					}
				}
			}

			> a, > .menu-item-link-return {
				color: $color__background-body;
				display: block;
				line-height: $font__line-height-heading;
				text-shadow: none;
				white-space: nowrap;

				&:hover,
				&:focus {
					background: $color__link-hover;

					&:after {
						background: $color__link-hover;
					}
				}
			}

			> .menu-item-link-return {
				width: 100%;
				font-size: $font__size_base;
				font-weight: normal;
				text-align: left;
			}

			> a:empty {
				display: none;
			}

			&.mobile-parent-nav-menu-item {
				display: none;
				font-size: $font__size-sm;
				font-weight: normal;

				svg {
					position: relative;
					top: 0.2rem;
				}
			}
		}
	}

	/*
	 * Sub-menu styles
	 *
	 * :focus-within needs its own selector so other similar
	 * selectors don’t get ignored if a browser doesn’t recognize it
	 */
	.main-menu .menu-item-has-children:not(.off-canvas):focus-within > .sub-menu {
		display: block;
		left: 0;
		margin-top: 0;
		opacity: 1;
		width: auto;
		min-width: 100%;


		/* Non-mobile position */
		@include media(tablet) {
			display: block;
			margin-top: 0;
			opacity: 1;
			position: absolute;
			left: 0;
			right: auto;
			top: auto;
			bottom: auto;
			height: auto;
			min-width: -moz-max-content;
			min-width: -webkit-max-content;
			min-width: max-content;
			transform: none;
		}

		&.hidden-links {
			left: 0;
			width: 100%;
			display: table;
			position: absolute;

			@include media(tablet) {
				right: 0;
				left: auto;
				display: block;
				width: max-content;
			}
		}

		.submenu-expand {
			display: none;
		}

		.sub-menu {
			display: block;
			margin-top: inherit;
			position: relative;
			width: 100%;
			left: 0;
			opacity: 1;

			/* Non-mobile position */
			@include media(tablet) {
				float: none;
				max-width: 100%;
			}
		}

		/* Nested sub-menu dashes */
		.sub-menu {
			counter-reset: submenu;
		}

		.sub-menu > li > a::before {
			font-family: $font__body;
			font-weight: normal;
			content: "\2013\00a0" counters(submenu, "\2013\00a0", none);
			counter-increment: submenu
		}
		
	}
}


.sub-menu {	
	li {
		border-bottom: $color__border 1px solid;
		color: $color__text-main;
		display: block;
		line-height: 2;
		position: relative;
		padding: rem(4px 10px 4px 22px);
		text-align: left;

		&:first-child {
			border-top: $color__border 1px solid;
		}

		@include media(touch) {
			border-color: darken($white, 9%);
			padding-top: rem(6.5px) !important;
		}
		
		> a {
			color: inherit;
			display: inline-block;
			font-size: rem(15px) !important;
			font-weight: 400 !important;
			line-height: 1;
			opacity: 0;
			padding: rem(0 4px);
			text-decoration: none;
            text-transform: initial !important;
			transition: opacity $link_transition ease-in .2s;
			word-break: break-word;
			
			&:hover {
				color: $color__text-hover;
				transition: all 0.2s linear;
			}

			@include media(touch) {
				opacity: 1;
				padding: rem(16px 0 16px 16px);
			}

			@include media(tablet-landscape) {
				overflow: hidden;
				white-space: normal;
			}	
		}
	}

    &.level-1, &.level-2, &.level-3, &.level-4, &.level-5 {
        display: none;
    }
	
}

.sub-menu.level-0 {
	background: transparent;
	opacity: 0;
	padding-top: rem(35px);
	position: absolute;
	left: -9999px;
	width: rem(300px);
	transition: right .001s ease-in .2s;
	z-index: 99999;

	@include media(touch) {
		opacity: 1;
		padding: 0;
		width: 100%;
	}
	
	ul {
		background: $white;
		-webkit-box-shadow: 0px 2px 2px 0px rgba(17,17,17,0.3); 
		box-shadow: 0px 2px 2px 0px rgba(17,17,17,0.3);
		color: $color__text-main;
		list-style: none;
		padding: rem(20px 10px);

		@include media(touch) {
			background: darken($white, 5%);
			box-shadow: none !important;
			margin-top: rem(4px);
			opacity: 1;
			position: static;
			width: auto;
		}
	}
}
