.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area {
	background: $white;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin-bottom: rem(20px);
	padding: rem(16px);
	word-wrap: break-word;


	/* Add extra margin when the comments section is located immediately after the
	 * post itself (this happens on pages).
	 */
	.entry + & {
	}

	.comments-title-wrap {

		@include media(tablet) {
			align-items: baseline;
			display: flex;
			justify-content: space-between;
		}

		.comments-title {
			margin: 0;

			@include media(tablet) {
				flex: 1 0 calc(3 * (100vw / 12));
			}
		}

		.discussion-meta {
			@include media(tablet) {
				flex: 0 0 calc(2 * (100vw / 12));
			}
		}
	}
}

#comment {
	max-width: 100%;
	box-sizing: border-box;
}

#respond {
	position: relative;

	.comment-user-avatar {
	}

	.comment .comment-form {
		padding-left: 0;
	}

	> small {
		display: block;
		font-size: $font__size_base;
		position: absolute;
		width: calc(100vw / 12 );
	}
}

#comments {

	> .comments-title:last-child {
		display: none;
	}
}

.comment-form-flex {
	display: flex;
	flex-direction: column;

	.comments-title {
		display: none;
		margin: 0;
		order: 1;
	}

	#respond {
		order: 2;

		+ .comments-title {
			display: block;
		}
	}
}

.comment-list {
	list-style: none;
	padding: 0;

	.children {
		margin: 0;
	}

	> .comment:first-child {
		margin-top: 0;
	}

	.pingback,
	.trackback {

		.comment-body {
			color: $color__text-light;
			@include font-family( $font__heading );
			font-size: $font__size-xs;
			font-weight: 500;

			a:not(.comment-edit-link) {
				font-weight: bold;
				font-size: $font__size-base;
				line-height: 1.5;
				display: block;
			}
			
			.comment-edit-link {
				color: $color__text-light;
				@include font-family( $font__heading );
				font-weight: 500;
			}
		}
	}
}

.comment-reply {

	#respond + & {
		display: none;
	}

	.comment-reply-link {
		display: inline-block;
	}
}

// Comment post
.comment {
	list-style: none;
	position: relative;

	@include media(tablet) {

		&.depth-1,
		.children {
			padding-left: 0;
		}

		&.depth-1 {
		}
	}
	
	// Comment body
	.comment-body {

		.comment-meta {
			margin: rem(0 0 0 50px);
		}

		.comment-author {

			.avatar {
				float: left;
				position: absolute;
				top: 0;
				left: 0;
				padding: 3px;
				width: 32px;
				height: auto;
				background: $highlight;
				margin: 0;
				box-shadow: none;
			}

			.fn {
				position: relative;
				display: block;

				a {
					color: inherit;

					&:hover {
						color: $color__link-hover;
					}
				}
			}

			.post-author-badge {
				border-radius: 100%;
				display: block;
				height: 18px;
				position: absolute;
				background: lighten( $color__link, 8% );
				top: -3px;
				width: 18px;

				svg {
					width: inherit;
					height: inherit;
					display: block;
					fill: white;
					transform: scale(0.875);
				}
			}
		}

		.comment-content {
			margin: rem(0 0 0 50px);
			border-radius: 4px;
			@include clearfix();

			p {
				margin: 0 0 1em;
			}

			p.meta {
				font-size: 0.83em;
			}
		}

		.comment-metadata {

			> a,
			.comment-edit-link {
				display: inline;
				font-weight: 500;
				color: $color__text-light;
				vertical-align: baseline;

				time {
					vertical-align: baseline;
				}

				&:hover {
					color: $color__link-hover;
					text-decoration: none;
				}
			}

			> * {
				display: inline-block;
			}

			.edit-link-sep {
				color: $color__text-light;
				margin: 0 0.2em;
				vertical-align: baseline;
			}

			.edit-link {
				color: $color__text-light;

				svg {
					transform: scale(0.8);
					vertical-align: baseline;
					margin-right: 0.1em;
				}
			}

			.comment-edit-link {
				position: relative;
				z-index: 1;

				&:hover {
					color: $color__link;
				}
			}
		}

		.comment-content {

			@include media(desktop) {
			}

			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}

			blockquote {
				margin-left: 0;
			}

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
		
	}
	
	// Reply link
	.comment-reply {
		margin: rem(0 0 0 50px);
		
		.comment-reply-link,
		#cancel-comment-reply-link {
			font-weight: 700;

			&:hover {
				color: $color__link-hover;
			}
			
		}
		
	}

	// Reply form
	.comment-respond {
		margin: rem(0 0 0 50px);
	}
	
}



.comment-form {

	.comment-notes,
	label {
		font-size: $font__size-sm;
		font-weight: 700;
		margin-top: 6px;
		color: $color__text-light;
	}

	input[name="author"],
	input[name="email"],
	input[name="url"] {
		display: block;
		width: 100%;
	}
}

#reply-title {
	color: $color__text-main;
	font-size: $font__size-lg;
	font-weight: 700;
}